MYSQL_PRIMARY_URL="mysql://root:root@127.0.0.1:3306/portal"
MYSQL_SECONDARY_URL="mysql://root:root@127.0.0.1:3306/blueconnects"

EXTERNAL_API_URL="https://jsonplaceholder.typicode.com"

AUTH_SECRET=""

NODE_ENV ="development"

EMAIL_USER=""
EMAIL_PASSWORD=""

URL_ENCRYPTION_KEY=""